.calendar {
    box-sizing: border-box;
    font-size: 0.8rem;
    max-width: 20em;
    margin-left: 2em;
    margin-top: 9em;
}

.calendar .header {
    text-align: center;
    min-height: 2rem;
    line-height: 2rem;
    color: black;
    font-family: var(--font-book);
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.calendar .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}


.calendar .header .previous {
    flex: 1;
    text-align: left;
    margin-left: 1rem;
    display: unset;
}

.previous {
    box-shadow: none !important;
    margin-top: 0em !important;
    cursor: pointer;
}

.next {
    box-shadow: none !important;
    margin-top: -0.6em !important;
    cursor: pointer;

}

.calendar .header .next {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
    display: unset;

}

.calendar .week {
    background-color: white;
    width: calc(100% / 7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 400;
}

.calendar .week div {
    width: 100%;
}

.calendar .day {
    position: relative;
    width: calc(100% / 7);
    height: 44px;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
}

.calendar .day div {
    width: 30px;
    height: 30px;
    position: relative;
    color: var(--black);
    z-index: 100;
    line-height: 30px;
    cursor: pointer;

}


.calendar .day div.selected {
    background-color: rgba(17, 89, 223, 0.904);
    color: var(--white);
    font-weight: bold;
}

.calendar .day div.today {
    background-color: var(--grey);
}

.filter {
    position: fixed;
    left: 2em;
    top: 27em;
    padding: 0.5em 0;
    border-radius: 0.3em;
    font-size: 1.1em;
    width: 10em;
    border: none;
    background-color: #235FE0;
    color: white;
    cursor: pointer;
}

